[core]
  autocrlf = input
  excludesfile = ~/.gitignore_global
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[init]
  defaultBranch = main
[pull]
  rebase = true
[push]
  useForceIfIncludes = true
[rerere]
  enabled = true
[user]
  name = {{ .name }}
  email = {{ .email }}
{{ if eq .chezmoi.os "darwin" -}}
[credential]
  helper = osxkeychain
{{ end -}}
