{{- /* GitLab personal access token, exported by conf.d/ista/10-gitlab.zsh.
       Only exists in the work vault; .chezmoiignore drops it elsewhere. */ -}}
{{ onepasswordRead "op://Employee/GitLab Token/credential" -}}
