{{ if .company -}}
[
  {"label": "Microsoft", "shortcut": "fn+p", "op": "op://Employee/Microsoft/password"},
  {"label": "Google Admin", "shortcut": "ctrl+fn+p", "op": "op://Employee/Google Admin/password"}
]
{{- else -}}
[]
{{- end }}
